.genus-container{
    display: flex;
    flex-direction: row;
    height: 80px
}
.genus-Balaena{
    width: 70px;
    height: 80px;
    background-image: url(Balaena-genus.png);
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
    border-radius:7%;
}
.genus-Eubalaena{
    width: 70px;
    height: 80px;
    background-image: url(Eubalaena-genus.png);
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
    border-radius:7%;
}