.App {

  display : flex;
  flex-direction: column;
  
  height: 38em;
}
.container {

  display : flex;
  flex-direction: row;
}
h1{
  padding-left: 1em;
}
.left-dashboard {

  height : 100%;
  width :8%
}
