.family-token{
    width: 50px;
    height: 55px;
    background-color: rgb(45, 45, 43);
    border-radius:7%;
}
.Balaneidae{

    width: 50px;
    height: 55px;
    background-image: url(01a_Balaneidae-Ficha.jpg);
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
    border-radius:7%;
    transition:  3s cubic-bezier(0.09, 0.08, 0, 0.95) 0.2s;
}
@keyframes right-to-left {
  
}
.Balaneidae:hover {
    background-image: url(01b_Balaneidae-Ficha_Hoover.jpg);
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
  


}

.to-come{
    width: 50px;
    height: 55px;
    background-image: url(UnderConstruction.svg.png);
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
  filter: saturate(10%);
  background-color: darkolivegreen;
  border-radius:7%;
}
.family-detail{
    width: 100%;
    padding-left: 1.5em;
    padding: 11px;
    order: 100;
    animation: detail-load 2s ease-out;
}
@keyframes detail-load {
  0%{
    transform: translateX(-50%);
    opacity:0  }
  80%{
    transform: translateX(5%);
    opacity:0.8
  }
  100% {
    transform: translateX(0);
  }
}
