.family-detail{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    height: fit-content;
    column-gap:.1em;
    row-gap:.1em;
  
    order: 100;
}
.Balaena-genus{
  order: 1;
}
.Eubalaena-genus{
  order: 3;
}
.Balaneidae-detail{
    
    width: 70px;
    height: 80px;
    background-image: url(01c_Balaneidae-Ficha_Click.jpg);
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
    border-radius:7%;
}


.species-BowheadWhale{
    
  width: 50px;
  height: 55px;
  background-image: url(02_Bowhead-Whale-Card.jpg);
  background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; 
  border-radius:7%;

}
.species-NorthAtlanticRightWhale{
  
  width: 50px;
  height: 55px;
  background-image: url(03_North-Atlantic-Right-Whale.jpg);
  background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; 
  border-radius:7%;

}
.species-NorthPacificRightWhale{
  
  width: 50px;
  height: 55px;
  background-image: url(04_North-Pacific-Right-Whale.jpg);
  background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; 
  border-radius:7%;

}
.species-SouthernRightWhale{

  width: 50px;
  height: 55px;
  background-image: url(05_Southern-Right-Whale.jpg);
  background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; 
  border-radius:7%;
}

.BowheadWhale-detail{
  width: 45em;
  height: 30em;
  background-image: url(02a_Bowhead-Whale-Card.jpg);
  background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; 
  border-radius:0.5%;
  order :2;
}

.NorthAtlanticRightWhale-detail{

  \width: 45em;
  height: 30em;
  background-image: url(03a_North-Atlantic-Right-Whale.jpg);
  background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; 
  border-radius:0.5%;
  order :4;
}
.NorthPacificRightWhale-detail{
  width: 45em;
  height: 30em;
  background-image: url(04a_North-Pacific-Right-Whale.jpg);
  background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; 
  border-radius:0.5%;
  order :4;

}
.SouthernRightWhale-detail{
  width: 45em;
  height: 30em;
  background-image: url(05a_Southern-Right-Whale.jpg);
  background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; 
  border-radius:0.5%;
  order :4;

}
